        <footer>
            <div class="container">
                <div class="row">
                    {% if informations %}
                    <div class="col-sm-3">
                        <h5>{{ text_information }}</h5>
                        <ul class="list-unstyled">
                            {% for information in informations %}
                            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="col-sm-3">
                        <h5>{{ text_service }}</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                            <li><a href="{{ return }}">{{ text_return }}</a></li>
                            <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>{{ text_extra }}</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                            <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                            <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                            <li><a href="{{ special }}">{{ text_special }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>{{ text_account }}</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ account }}">{{ text_account }}</a></li>
                            <li><a href="{{ order }}">{{ text_order }}</a></li>
                            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p>{{ powered }}</p>
            </div>
        </footer>
        {{ cookie }}
        
        <!-- Global Message Modal -->
        <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0 shadow">
                    <div id="message-modal-header" class="modal-header border-0 justify-content-center">
                        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal" aria-label="{{ text_close }}"></button>
                    </div>
                    <div class="modal-body text-center pb-5">
                        <div id="message-modal-icon" class="mb-4"></div>
                        <div id="message-modal-body" class="fs-5 fw-600"></div>
                    </div>
                </div>
            </div>
        </div>

        {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
        {% endfor %}
        {% for script in scripts %}
        <script src="{{ script.href }}" type="text/javascript"></script>
        {% endfor %}
    </body>
</html>
