<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- DC MINIMAL THEME OVERRIDE ACTIVE -->
    <meta name="theme-dc-minimal" content="active">

    <title>{{ title }}</title>
    <base href="{{ base }}" />

    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    {% if keywords %}<meta name="keywords" content="{{ keywords }}" />{% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <script src="extension/dc_minimal/catalog/view/javascript/jquery.js"></script>
    <link href="extension/dc_minimal/catalog/view/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="extension/dc_minimal/catalog/view/bootstrap/js/popper.js" type="text/javascript"></script>
    <script src="extension/dc_minimal/catalog/view/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="extension/dc_minimal/catalog/view/javascript/theme.js" type="text/javascript"></script>
    
    <link href="extension/dc_minimal/catalog/view/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="extension/dc_minimal/catalog/view/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="extension/dc_minimal/catalog/view/stylesheet/header.css" rel="stylesheet">
    <link href="extension/dc_minimal/catalog/view/stylesheet/home.css" rel="stylesheet">

    <link rel="icon" href="{{ icon }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript"></script>

    {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    
    {% for script in scripts %}
    <script src="{{ script.href }}" type="text/javascript"></script>
    {% endfor %}
    
    {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}

    {% if analytics is iterable %}
        {% for analytic in analytics %}
            {{ analytic }}
        {% endfor %}
    {% else %}
        {{ analytics }}
    {% endif %}
</head>

<body class="{{ class }}">
<div id="alert" class="toast-container position-fixed top-0 end-0 p-3"></div>

<header class="pnj-header">
    <div class="pnj-top">
        <div class="pnj-container pnj-flex">
            <div class="pnj-top-left">
                <a href="#"><i class="fa fa-book"></i> Câu Chuyện PNJ</a>
                <a href="#"><i class="fa fa-users"></i> Quan Hệ Cổ Đông (IR)</a>
                <a href="#"><i class="fa fa-map-marker"></i> Cửa Hàng</a>
                <a href="#"><i class="fa fa-briefcase"></i> Tuyển dụng</a>
            </div>

            <div class="pnj-logo-center">
                <a href="{{ home }}">
                    <img src="{{ logo }}" alt="{{ name }}">
                </a>
            </div>

            <div class="pnj-top-right">
                <span class="hotline">
                    <i class="fa fa-headphones"></i> {{ dc_hotline ? dc_hotline : '1800 54 54 57' }}
                </span>

                {% if logged %}
                    <a href="{{ account }}"><i class="fa fa-user"></i> Tài khoản của tôi</a>
                {% else %}
                    <a href="{{ login }}"><i class="fa fa-user"></i> Đăng nhập</a>
                {% endif %}

                <a href="{{ shopping_cart }}" class="cart-link">
                    <i class="fa fa-shopping-bag"></i> Giỏ hàng
                    <span class="cart-badge">0</span>
                </a>
            </div>
        </div>
    </div>

    <div class="pnj-divider"></div>

    <div class="pnj-bottom">
        <div class="pnj-container pnj-bottom-flex">
            <ul class="pnj-menu">
                <li class="mega-parent">
                    <a href="#">Nữ</a>
                    <div class="mega-modal">
                        <div class="mega-left">
                            <div class="mega-item active" data-target="nu-brand">Thương Hiệu</div>
                            <div class="mega-item" data-target="nu-new">Hàng Mới</div>
                            <div class="mega-item" data-target="nu-jewelry">Trang Sức</div>
                            <div class="mega-item" data-target="nu-jewelry-c">Trang Sức Cưới</div>
                            <div class="mega-item">Đồng Hồ</div>
                            <div class="mega-item sale">Khuyến Mãi</div>
                        </div>
                        <div class="mega-right">
                            <div class="mega-content active" id="nu-brand">
                                <div class="mega-col">
                                    <h4>Thương Hiệu Sản Phẩm</h4>
                                    {% for brand in brands %}<a href="{{ brand.href }}">{{ brand.name }}</a>{% endfor %}
                                </div>
                                <div class="mega-col">
                                    <h4>Dòng Hàng Quốc Tế</h4>
                                    <a href="#">Disney x PNJ</a>
                                    <a href="#">Hello Kitty</a>
                                    <a href="#">Doraemon</a>
                                </div>
                            </div>
                            <div class="mega-content" id="nu-new">
                                <div class="mega-col">
                                    <h4>Hàng Mới</h4>
                                    <a href="#">Trang sức</a>
                                    <a href="#">Đồng hồ</a>
                                </div>
                            </div>
                            <div class="mega-content" id="nu-jewelry">
                                <div class="mega-col">
                                    <h4>Chủng Loại</h4>
                                    <a href="#">Nhẫn</a>
                                    <a href="#">Dây chuyền</a>
                                    <a href="#">Bông tai</a>
                                </div>
                                <div class="mega-col">
                                    <h4>Chất Liệu</h4>
                                    <a href="#">Vàng</a>
                                    <a href="#">Bạc</a>
                                    <a href="#">Platinum</a>
                                </div>
                            </div>
                            <div class="mega-content" id="nu-jewelry-c">
                                <div class="mega-col">
                                    <h4>Mục Đích</h4>
                                    <a href="#">Cầu Hôn</a>
                                    <a href="#">Kết Hôn</a>
                                    <a href="#">Kỷ Niệm</a>
                                </div>
                                <div class="mega-col">
                                    <h4>Chủng Loại</h4>
                                    <a href="#">Vàng</a>
                                    <a href="#">Bạc</a>
                                    <a href="#">Platinum</a>
                                </div>
                                <div class="mega-col">
                                    <h4>Dòng hàng</h4>
                                    <a href="#">Nhẫn</a>
                                    <a href="#">Dây chuyền</a>
                                    <a href="#">Bông tai</a>
                                </div>
                                <div class="mega-col">
                                    <h4>Chất Liệu</h4>
                                    <a href="#">Vàng</a>
                                    <a href="#">Bạc</a>
                                    <a href="#">Platinum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">Nam</a></li>
                <li><a href="#">Trẻ em</a></li>
            </ul>

            <div class="pnj-search">
                <input type="text" placeholder="Tìm kiếm nhanh">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</header>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const items = document.querySelectorAll(".mega-item");
    items.forEach(item => {
        item.addEventListener("click", function() {
            const parentModal = this.closest(".mega-modal");
            parentModal.querySelectorAll(".mega-item").forEach(i => i.classList.remove("active"));
            this.classList.add("active");
            const target = this.getAttribute("data-target");
            if (!target) return;
            parentModal.querySelectorAll(".mega-content").forEach(content => content.classList.remove("active"));
            const targetEl = parentModal.querySelector("#" + target);
            if (targetEl) targetEl.classList.add("active");
        });
    });
});
</script>