{{ header }}
  {{ content_top }}
  {# {% include 'extension/dc_minimal/catalog/view/template/component/hero.twig' %} #}
  {# {% include 'extension/dc_minimal/catalog/view/template/extension/opencart/module/slideshow.twig' %} #}
  {% include 'extension/dc_minimal/catalog/view/template/component/ship.twig' %}
  {# {% include 'extension/dc_minimal/catalog/view/template/component/category.twig' %} #}
{# {{ category | raw }} #}
<div id="common-home" class="container">
{# {{ featured | raw }}
    {{ latest | raw }}
    {{ bestseller | raw }}
    {{ brand | raw }}
    {{ recently_viewed | raw }} #}
  {{ content_bottom }}
</div>

{{ footer }}
