{{ header }}
<div id="checkout-cart" class="container crystal-cart-page">
  <ul class="breadcrumb mb-5">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      
      <div id="shopping-cart" class="modern-cart-container">
        {{ list }}
      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>

<script type="text/javascript"><!--
$('#shopping-cart').on('submit', '#output-cart form', function(e) {
    e.preventDefault();
    var element = this;
    if (e.originalEvent !== undefined && e.originalEvent.submitter !== undefined) {
        var button = e.originalEvent.submitter;
    } else {
        var button = '';
    }
    $.ajax({
        url: $(button).attr('formaction'),
        type: 'post',
        data: $(element).serialize(),
        dataType: 'json',
        beforeSend: function() {
            $(button).prop('disabled', true);
        },
        complete: function() {
            $(button).prop('disabled', false);
        },
        success: function(json) {
            if (json['redirect']) {
                location = json['redirect'];
            }
            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }
            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                $('#shopping-cart').load('index.php?route=checkout/cart.list&language={{ language }}', {}, function() {
                    $('#cart').load('index.php?route=common/cart.info&language={{ language }}');
                });
            }
        }
    });
});

$('#shopping-cart').on('click', '.btn-remove-item', function(e) {
    e.preventDefault();
    var element = this;
    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function() {
            $(element).prop('disabled', true);
        },
        complete: function() {
            $(element).prop('disabled', false);
        },
        success: function(json) {
            if (json['redirect']) {
                location = json['redirect'];
            }
            if (json['success']) {
                $('#shopping-cart').load('index.php?route=checkout/cart.list&language={{ language }}', {}, function() {
                    $('#cart').load('index.php?route=common/cart.info&language={{ language }}');
                });
            }
        }
    });
});
//--></script>
{{ footer }}
