{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-tmn-code" class="col-sm-2 col-form-label">{{ entry_tmn_code }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_dc_vnpay_tmn_code" value="{{ payment_dc_vnpay_tmn_code }}" placeholder="{{ entry_tmn_code }}" id="input-tmn-code" class="form-control"/>
              <div class="form-text">Your Terminal ID from VNPAY.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-hash-secret" class="col-sm-2 col-form-label">{{ entry_hash_secret }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_dc_vnpay_hash_secret" value="{{ payment_dc_vnpay_hash_secret }}" placeholder="{{ entry_hash_secret }}" id="input-hash-secret" class="form-control"/>
              <div class="form-text">Your Secret Key from VNPAY.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-url" class="col-sm-2 col-form-label">{{ entry_url }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_dc_vnpay_url" value="{{ payment_dc_vnpay_url ?: 'https://sandbox.vnpayment.vn/paymentv2/vpcpay.html' }}" placeholder="{{ entry_url }}" id="input-url" class="form-control"/>
              <div class="form-text">Sandbox: <code>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</code></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-order-status" class="col-sm-2 col-form-label">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_dc_vnpay_order_status_id" id="input-order-status" class="form-select">
                {% for order_status in order_statuses %}
                  <option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == payment_dc_vnpay_order_status_id %}selected{% endif %}>{{ order_status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_dc_vnpay_status" id="input-status" class="form-select">
                <option value="1" {% if payment_dc_vnpay_status %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not payment_dc_vnpay_status %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_dc_vnpay_sort_order" value="{{ payment_dc_vnpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
