<div class="slideshow owl-carousel owl-theme" id="slideshow{{ module }}">
    <pre>{{ dump(banners) }}</pre>
	{% for banner in banners %} 
		<div class="item text-center">
			{% if banner.link %}
				<a href="{{ banner.link }}">
					<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
				</a>
			{% else %}
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
			{% endif %}
		</div>
	{% endfor %}
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#slideshow{{ module }}').owlCarousel({
			items: 1,
			loop: true,
			margin: 0,
			nav: true,
			dots: false,
			autoplay: true,
			autoplayTimeout: 2500,
			autoplayHoverPause: true,
			smartSpeed: 800, 
			navText: [
				'<span class="owl-prev"><i class="fa fa-chevron-left"></i></span>',
				'<span class="owl-next"><i class="fa fa-chevron-right"></i></span>'
			]
		});
	});
</script>