<div class="benefits">
    
    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/shipping-icon.svg?1724816317359" />
        <div class="benefit-text">
            <span class="title">{{ text_shipping_free_title }}</span>
            <span class="desc">{{ text_shipping_free_desc }}</span>
        </div>
    </div>

    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/shopping%20247-icon.svg?1724816239732" />
        <div class="benefit-text">
            <span class="title">{{ text_shipping_support_title }}</span>
            <span class="desc">{{ text_shipping_support_desc }}</span>
        </div>
    </div>

    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/thudoi-icon.svg" />
        <div class="benefit-text">
            <span class="title">{{ text_shipping_return_title }}</span>
            <span class="desc">{{ text_shipping_return_desc }}</span>
        </div>
    </div>

</div>
<style>

</style>
