<section class="dc-category">
	<div class="dc-container">
		<div class="dc-title-wrapper">
			<h1 class="dc-title">{{ text_category_prompt }}</h1>         
		</div>

		<div class="dc-category-grid">
			{% for category in categories | slice(0, 12) %}
				<a href="{{ category.href }}" class="dc-category-item">
					<div class="dc-category-thumb">
						<img src="{{ category.image }}" alt="{{ category.name }}">
					</div>
					<p>{{ category.name }}</p>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
