{{ header }}
<div id="account-account" class="container account-container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
  {% endif %}

  <div class="row">
    {{ column_left }}
    
    <div id="content" class="col">
      {{ content_top }}
      
      <!-- My Account Section -->
      <div class="account-section mb-5">
        <h2 class="section-title">{{ text_my_account }}</h2>
        <div class="account-card p-4">
          <div class="account-dashboard-grid">
            <a href="{{ edit }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-account_information.png" alt="{{ text_edit }}" />
              </div>
              <span class="account-item-text">{{ text_edit }}</span>
            </a>
            <a href="{{ password }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-password.png" alt="{{ text_password }}" />
              </div>
              <span class="account-item-text">{{ text_password }}</span>
            </a>
            <a href="{{ address }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-address_book.png" alt="{{ text_address }}" />
              </div>
              <span class="account-item-text">{{ text_address }}</span>
            </a>
            <a href="{{ wishlist }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-wish_list.png" alt="{{ text_wishlist }}" />
              </div>
              <span class="account-item-text">{{ text_wishlist }}</span>
            </a>
          </div>
        </div>
      </div>

      <!-- My Orders Section -->
      <div class="account-section mb-5">
        <h2 class="section-title">{{ text_my_orders }}</h2>
        <div class="account-card p-4">
          <div class="account-dashboard-grid">
            <a href="{{ order }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-order_history.png" alt="{{ text_order }}" />
              </div>
              <span class="account-item-text">{{ text_order }}</span>
            </a>
            <a href="{{ download }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-download.png" alt="{{ text_download }}" />
              </div>
              <span class="account-item-text">{{ text_download }}</span>
            </a>
            {% if reward %}
            <a href="{{ reward }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-reward.png" alt="{{ text_reward }}" />
              </div>
              <span class="account-item-text">{{ text_reward }}</span>
            </a>
            {% endif %}
            <a href="{{ return }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <img src="extension/dc_minimal/catalog/view/image/account/icons-returns.png" alt="{{ text_return }}" />
              </div>
              <span class="account-item-text">{{ text_return }}</span>
            </a>
            <a href="{{ transaction }}" class="account-item-link">
              <div class="account-icon-wrapper">
                <div class="account-icon-wrapper">
                  <img src="extension/dc_minimal/catalog/view/image/account/icons-transactions.png" alt="{{ text_transaction }}" />
                </div>
                <span class="account-item-text">{{ text_transaction }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Affiliate Section -->
      <div class="account-section mb-5">
        <h2 class="section-title">{{ text_my_affiliate }}</h2>
        <div class="account-card p-4">
          {% if not tracking %}
            <div class="text-center p-3">
              <a href="{{ affiliate }}" class="btn-crystal btn-crystal-outline">{{ text_affiliate_add }}</a>
            </div>
          {% else %}
            <div class="row g-4">
              <div class="col-sm-6 col-md-3">
                <a href="{{ affiliate }}" class="account-item-link">
                  <div class="account-icon-wrapper">
                    <img src="extension/dc_minimal/catalog/view/image/account/icons-affiliate_add.png" alt="{{ text_affiliate_add }}" />
                  </div>
                  <span class="account-item-text">{{ text_affiliate_add }}</span>
                </a>
              </div>
              <div class="col-sm-6 col-md-3">
                <a href="{{ tracking }}" class="account-item-link">
                  <div class="account-icon-wrapper">
                    <img src="extension/dc_minimal/catalog/view/image/account/icons-account_tracking.png" alt="{{ text_tracking }}" />
                  </div>
                  <span class="account-item-text">{{ text_tracking }}</span>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- Newsletter Section -->
      <div class="account-section mb-5">
        <h2 class="section-title">{{ text_my_newsletter }}</h2>
        <div class="account-card p-4">
          <div class="row g-4">
            <div class="col-sm-6 col-md-3">
              <a href="{{ newsletter }}" class="account-item-link">
                <div class="account-icon-wrapper">
                  <img src="extension/dc_minimal/catalog/view/image/account/icons-newsletter.png" alt="{{ text_newsletter }}" />
                </div>
                <span class="account-item-text">{{ text_newsletter }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      {{ content_bottom }}
    </div>
    
    {{ column_right }}
  </div>
</div>
{{ footer }}