{{ header }}
<div id="account-password" class="container account-container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    {{ column_left }}
    
    <div id="content" class="col">
      {{ content_top }}
      
      <div class="account-card p-5">
        <h1 class="section-title mb-4">{{ heading_title }}</h1>
        
        <form id="form-password" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <fieldset>
            <legend class="mb-4" style="font-family: 'Playfair Display', serif; font-size: 20px; color: #c48c31;">{{ text_password }}</legend>
            
            <div class="row mb-4 required">
              <label for="input-password" class="col-sm-3 col-form-label form-label">{{ entry_password }}</label>
              <div class="col-sm-9">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                <div id="error-password" class="invalid-feedback"></div>
              </div>
            </div>
            
            <div class="row mb-4 required">
              <label for="input-confirm" class="col-sm-3 col-form-label form-label">{{ entry_confirm }}</label>
              <div class="col-sm-9">
                <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                <div id="error-confirm" class="invalid-feedback"></div>
              </div>
            </div>
          </fieldset>

          <div class="row mt-5">
            <div class="col">
              <a href="{{ back }}" class="btn-crystal btn-crystal-outline">{{ button_back }}</a>
            </div>
            <div class="col text-end">
              <button type="submit" class="btn-crystal">{{ button_continue }}</button>
            </div>
          </div>
        </form>
      </div>

      {{ content_bottom }}
    </div>
    
    {{ column_right }}
  </div>
</div>
{{ footer }}
