<div class="dc-product-card">
  <div class="dc-product-image">
    <a href="{{ href }}">
      <img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-fluid" loading="lazy" />
    </a>
    <div class="dc-product-actions">
      <button type="button" data-bs-toggle="tooltip" title="{{ button_wishlist }}" onclick="list.add('wishlist', '{{ product_id }}');" class="dc-btn-action"><i class="fa-regular fa-heart"></i></button>
      <button type="button" data-bs-toggle="tooltip" title="{{ button_compare }}" onclick="list.add('compare', '{{ product_id }}');" class="dc-btn-action"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
    </div>
    {% if special %}
    <span class="dc-badge dc-badge-sale">Sale</span>
    {% endif %}
  </div>

  <div class="dc-product-info">
    <h4 class="dc-product-name"><a href="{{ href }}">{{ name }}</a></h4>
    {% if price %}
      <div class="dc-product-price">
        {% if not special %}
          <span class="dc-price-regular">{{ price }}</span>
        {% else %}
          <span class="dc-price-new">{{ special }}</span>
          <span class="dc-price-old">{{ price }}</span>
        {% endif %}
      </div>
    {% endif %}

    <div class="dc-product-cart">
      <button type="button" onclick="list.add('cart', '{{ product_id }}');" class="dc-btn-cart"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
    </div>
  </div>
</div>