{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
              <div id="error-name" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-title" class="col-sm-2 col-form-label">{{ entry_title }} (VD: Bộ sưu tập mới)</label>
            <div class="col-sm-10">
              <input type="text" name="title" value="{{ title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-select">
                <option value="1"{% if status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if not status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <hr/>
          <h3>Collections</h3>
          <div class="table-responsive">
            <table id="collections" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-start">{{ entry_collection_title }}</td>
                  <td class="text-start">{{ entry_image }}</td>
                  <td class="text-start">{{ entry_link }}</td>
                  <td class="text-start">{{ entry_product }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                {% set collection_row = 0 %}
                {% for collection in collections %}
                  <tr id="collection-row-{{ collection_row }}">
                    <td class="text-start">
                      {% for language in languages %}
                        <div class="input-group">
                          <span class="input-group-text"><img src="/extension/dc_minimal/admin/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" style="width: 18px; height: 12px; object-fit: cover; border-radius: 2px;"/></span>
                          <input type="text" name="collections[{{ collection_row }}][title][{{ language.code }}]" value="{{ collection.title[language.code] }}" placeholder="{{ entry_collection_title }}" class="form-control"/>
                        </div>
                      {% endfor %}
                    </td>
                    <td class="text-start">
                      <div class="card image">
                        <img src="{{ collection.thumb }}" alt="" title="" id="thumb-image-{{ collection_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
                        <input type="hidden" name="collections[{{ collection_row }}][image]" value="{{ collection.image }}" id="input-image-{{ collection_row }}"/>
                        <div class="card-body p-2">
                          <button type="button" data-oc-toggle="image" data-oc-target="#input-image-{{ collection_row }}" data-oc-thumb="#thumb-image-{{ collection_row }}" class="btn btn-primary btn-sm w-100 mb-1"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-{{ collection_row }}" data-oc-thumb="#thumb-image-{{ collection_row }}" class="btn btn-warning btn-sm w-100"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                      </div>
                    </td>
                    <td class="text-start">
                      <input type="text" name="collections[{{ collection_row }}][link]" value="{{ collection.link }}" placeholder="{{ entry_link }}" class="form-control"/>
                    </td>
                    <td class="text-start">
                      <input type="text" name="collections-product-{{ collection_row }}" value="" placeholder="{{ entry_product }}" id="input-product-{{ collection_row }}" data-oc-target="autocomplete-product-{{ collection_row }}" class="form-control mb-1" autocomplete="off"/>
                      <ul id="autocomplete-product-{{ collection_row }}" class="dropdown-menu"></ul>
                      <div class="form-control p-0 overflow-auto" style="height: 150px;">
                        <table id="product-list-{{ collection_row }}" class="table table-sm m-0">
                          <tbody>
                            {% for product in collection.product %}
                              <tr id="product-{{ collection_row }}-{{ product.product_id }}">
                                <td>{{ product.name }}<input type="hidden" name="collections[{{ collection_row }}][product][]" value="{{ product.product_id }}"/></td>
                                <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-minus"></i></button></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </td>
                    <td class="text-end">
                      <button type="button" onclick="$('#collection-row-{{ collection_row }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  {% set collection_row = collection_row + 1 %}
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-end"><button type="button" onclick="addCollection();" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
(function ($) {
    $.fn.dc_autocomplete = function (option) {
        return this.each(function () {
            var element = this;
            var $dropdown = $('#' + $(element).attr('data-oc-target'));

            this.timer = null;
            this.items = [];
            this.page = 1;
            this.is_loading = false;
            this.stop_loading = false;
            this.is_dropdown_clicking = false;

            $.extend(this, option);

            // Ép CSS ngay khi khởi tạo
            $dropdown.css({
                'max-height': '240px',
                'overflow-y': 'auto',
                'overflow-x': 'hidden',
                'z-index': '1050'
            });

            // Ngăn đóng dropdown khi đang click vào thanh cuộn
            $dropdown.on('mousedown', function() {
                element.is_dropdown_clicking = true;
            });

            $(element).on('focusin', function () {
                if ($dropdown.find('li').length > 1) {
                    $dropdown.addClass('show');
                } else {
                    element.page = 1;
                    element.stop_loading = false;
                    element.request();
                }
            });

            $(element).on('focusout', function (e) {
                setTimeout(function () {
                    if (!element.is_dropdown_clicking) {
                        $dropdown.removeClass('show');
                    }
                    element.is_dropdown_clicking = false;
                }, 200);
            });

            $(element).on('input', function (e) {
                element.page = 1;
                element.stop_loading = false;
                element.request();
            });

            $dropdown.on('click', 'a', function (e) {
                e.preventDefault();
                var value = $(this).attr('href');
                if (element.items[value] !== undefined) {
                    element.select(element.items[value]);
                    $dropdown.removeClass('show');
                }
            });

            $dropdown.on('scroll', function () {
                if (element.is_loading || element.stop_loading) return;
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(this)[0].scrollHeight;
                var height = $(this).height();
                if (scrollTop + height >= scrollHeight * 0.9) {
                    element.page++;
                    element.request(true);
                }
            });

            this.request = function (append) {
                clearTimeout(this.timer);
                
                if (!append) {
                    $dropdown.find('li').remove();
                    this.items = [];
                    $dropdown.prepend('<li id="autocomplete-loading"><span class="dropdown-item text-center disabled"><i class="fa-solid fa-circle-notch fa-spin"></i></span></li>');
                    $dropdown.addClass('show');
                } else {
                    $dropdown.append('<li id="autocomplete-loading-more" class="text-center p-2"><i class="fa-solid fa-circle-notch fa-spin"></i></li>');
                }
                this.is_loading = true;
                this.timer = setTimeout(function (object) {
                    object.source($(object).val(), object.page, $.proxy(object.response, object, append));
                }, 200, this);
            }

            this.response = function (append, json) {
                $('#autocomplete-loading, #autocomplete-loading-more').remove();
                this.is_loading = false;
                if (!json || !json.length) {
                    if (!append) $dropdown.removeClass('show');
                    this.stop_loading = true;
                    return;
                }
                if (json.length < 10) this.stop_loading = true;
                var html = '';
                for (var i = 0; i < json.length; i++) {
                    this.items[json[i]['product_id']] = {
                        label: json[i]['name'],
                        value: json[i]['product_id']
                    };
                    html += '<li><a href="' + json[i]['product_id'] + '" class="dropdown-item">' + json[i]['name'] + '</a></li>';
                }
                if (append) {
                    $dropdown.append(html);
                } else {
                    $dropdown.html(html);
                    $dropdown.scrollTop(0);
                }
            }
        });
    }
})(jQuery);

var collection_row = {{ collection_row }};

function addCollection() {
    html  = '<tr id="collection-row-' + collection_row + '">';
    html += '  <td class="text-start">';
    {% for language in languages %}
    html += '    <div class="input-group">';
    html += '      <span class="input-group-text"><img src="/extension/dc_minimal/admin/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" style="width: 18px; height: 12px; object-fit: cover; border-radius: 2px;"/></span>';
    html += '      <input type="text" name="collections[' + collection_row + '][title][{{ language.code }}]" value="" placeholder="{{ entry_collection_title }}" class="form-control"/>';
    html += '    </div>';
    {% endfor %}
    html += '  </td>';
    html += '  <td class="text-start">';
    html += '    <div class="card image">';
    html += '      <img src="{{ placeholder }}" alt="" title="" id="thumb-image-' + collection_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';
    html += '      <input type="hidden" name="collections[' + collection_row + '][image]" value="" id="input-image-' + collection_row + '"/>';
    html += '      <div class="card-body p-2">';
    html += '        <button type="button" data-oc-toggle="image" data-oc-target="#input-image-' + collection_row + '" data-oc-thumb="#thumb-image-' + collection_row + '" class="btn btn-primary btn-sm w-100 mb-1"><i class="fa-solid fa-pencil"></i></button>';
    html += '        <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-' + collection_row + '" data-oc-thumb="#thumb-image-' + collection_row + '" class="btn btn-warning btn-sm w-100"><i class="fa-solid fa-trash-can"></i></button>';
    html += '      </div>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td class="text-start"><input type="text" name="collections[' + collection_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control"/></td>';
    html += '  <td class="text-start">';
    html += '    <input type="text" name="collections-product-' + collection_row + '" value="" placeholder="{{ entry_product }}" id="input-product-' + collection_row + '" data-oc-target="autocomplete-product-' + collection_row + '" class="form-control mb-1" autocomplete="off"/>';
    html += '    <ul id="autocomplete-product-' + collection_row + '" class="dropdown-menu"></ul>';
    html += '    <div class="form-control p-0 overflow-auto" style="height: 150px;">';
    html += '      <table id="product-list-' + collection_row + '" class="table table-sm m-0">';
    html += '        <tbody></tbody>';
    html += '      </table>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#collection-row-' + collection_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#collections tbody').append(html);

    initAutocomplete(collection_row);

    collection_row++;
}

function initAutocomplete(row) {
    $('#input-product-' + row).dc_autocomplete({
        'source': function (request, page, response) {
            $.ajax({
                url: 'index.php?route=extension/dc_minimal/module/dc_featured.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request) + '&page=' + page,
                dataType: 'json',
                success: function (json) {
                    response(json);
                }
            });
        },
        'select': function (item) {
            $('#input-product-' + row).val('');

            $('#product-' + row + '-' + item['value']).remove();

            html  = '<tr id="product-' + row + '-' + item['value'] + '">';
            html += '  <td>' + item['label'] + '<input type="hidden" name="collections[' + row + '][product][]" value="' + item['value'] + '"/></td>';
            html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-minus"></i></button></td>';
            html += '</tr>';

            $('#product-list-' + row + ' tbody').append(html);
        }
    });

    $('#product-list-' + row).on('click', '.btn-danger', function () {
        $(this).closest('tr').remove();
    });
}

// Initialize existing rows
{% set row = 0 %}
{% for collection in collections %}
initAutocomplete({{ row }});
{% set row = row + 1 %}
{% endfor %}

//--></script>
<script type="text/javascript"><!--
$(document).ready(function() {
    // Fix broken flags in the admin header language switcher
    $('.navbar-nav img[src*="language/"], #header-nav img[src*="language/"], .dropdown-toggle img[src*="language/"]').each(function() {
        var $img = $(this);
        var src = $img.attr('src');
        if (src && src.indexOf('language/') !== -1 && src.indexOf('extension/dc_minimal') === -1) {
            var newSrc = '/' + src.replace(/^.*language\//, 'extension/dc_minimal/admin/language/');
            $img.attr('src', newSrc);
            $img.css({
                'width': '18px',
                'height': '12px',
                'object-fit': 'cover',
                'border-radius': '2px',
                'margin-right': '5px'
            });
        }
    });
});
//--></script>
{{ footer }}
