{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
              <div id="error-name" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-title" class="col-sm-2 col-form-label">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="title" value="{{ title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_product }}</label>
            <div class="col-sm-10">
              <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" data-oc-target="autocomplete-product" class="form-control" autocomplete="off"/>
              <ul id="autocomplete-product" class="dropdown-menu"></ul>
              <div class="form-text">{{ help_product }}</div>
              <div class="form-control p-0" style="height: 150px; overflow: auto;">
                <table id="flash-product" class="table table-sm m-0">
                  <tbody>
                    {% for product in products %}
                      <tr id="flash-product-{{ product.product_id }}">
                        <td>{{ product.name }}<input type="hidden" name="product[]" value="{{ product.product_id }}"/></td>
                        <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-limit" class="col-sm-2 col-form-label">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control"/>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-end-time" class="col-sm-2 col-form-label">{{ entry_end_time }}</label>
            <div class="col-sm-10">
              <input type="text" name="end_time" value="{{ end_time }}" placeholder="{{ entry_end_time }}" id="input-end-time" class="form-control"/>
              <div class="form-text">{{ help_end_time }}</div>
            </div>
          </div>

          <div class="row mb-3 required">
            <label for="input-width" class="col-sm-2 col-form-label">{{ entry_width }}</label>
            <div class="col-sm-10">
              <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
              <div id="error-width" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3 required">
            <label for="input-height" class="col-sm-2 col-form-label">{{ entry_height }}</label>
            <div class="col-sm-10">
              <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
              <div id="error-height" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-select">
                <option value="1"{% if status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if not status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
(function ($) {
    $.fn.dc_autocomplete = function (option) {
        return this.each(function () {
            var element = this;
            var $dropdown = $('#' + $(element).attr('data-oc-target'));

            this.timer = null;
            this.items = [];
            this.page = 1;
            this.is_loading = false;
            this.stop_loading = false;
            this.is_dropdown_clicking = false;

            $.extend(this, option);

            // Ép CSS ngay khi khởi tạo
            $dropdown.css({
                'max-height': '240px',
                'overflow-y': 'auto',
                'overflow-x': 'hidden',
                'z-index': '1050'
            });

            // Ngăn đóng dropdown khi đang click vào thanh cuộn
            $dropdown.on('mousedown', function() {
                element.is_dropdown_clicking = true;
            });

            $(element).on('focusin', function () {
                if ($dropdown.find('li').length > 1) {
                    $dropdown.addClass('show');
                } else {
                    element.page = 1;
                    element.stop_loading = false;
                    element.request();
                }
            });

            $(element).on('focusout', function (e) {
                setTimeout(function () {
                    if (!element.is_dropdown_clicking) {
                        $dropdown.removeClass('show');
                    }
                    element.is_dropdown_clicking = false;
                }, 200);
            });

            $(element).on('input', function (e) {
                element.page = 1;
                element.stop_loading = false;
                element.request();
            });

            $dropdown.on('click', 'a', function (e) {
                e.preventDefault();
                var value = $(this).attr('href');
                if (element.items[value] !== undefined) {
                    element.select(element.items[value]);
                    $dropdown.removeClass('show');
                }
            });

            $dropdown.on('scroll', function () {
                if (element.is_loading || element.stop_loading) return;
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(this)[0].scrollHeight;
                var height = $(this).height();
                if (scrollTop + height >= scrollHeight * 0.9) {
                    element.page++;
                    element.request(true);
                }
            });

            this.request = function (append) {
                clearTimeout(this.timer);
                
                if (!append) {
                    $dropdown.find('li').remove();
                    this.items = [];
                    $dropdown.prepend('<li id="autocomplete-loading"><span class="dropdown-item text-center disabled"><i class="fa-solid fa-circle-notch fa-spin"></i></span></li>');
                    $dropdown.addClass('show');
                } else {
                    $dropdown.append('<li id="autocomplete-loading-more" class="text-center p-2"><i class="fa-solid fa-circle-notch fa-spin"></i></li>');
                }
                this.is_loading = true;
                this.timer = setTimeout(function (object) {
                    object.source($(object).val(), object.page, $.proxy(object.response, object, append));
                }, 200, this);
            }

            this.response = function (append, json) {
                $('#autocomplete-loading, #autocomplete-loading-more').remove();
                this.is_loading = false;
                if (!json || !json.length) {
                    if (!append) $dropdown.removeClass('show');
                    this.stop_loading = true;
                    return;
                }
                if (json.length < 10) this.stop_loading = true;
                var html = '';
                for (var i = 0; i < json.length; i++) {
                    this.items[json[i]['product_id']] = {
                        label: json[i]['name'],
                        value: json[i]['product_id']
                    };
                    html += '<li><a href="' + json[i]['product_id'] + '" class="dropdown-item">' + json[i]['name'] + '</a></li>';
                }
                if (append) {
                    $dropdown.append(html);
                } else {
                    $dropdown.html(html);
                    $dropdown.scrollTop(0);
                }
            }
        });
    }
})(jQuery);

$('#input-product').dc_autocomplete({
    'source': function (request, page, response) {
        $.ajax({
            url: 'index.php?route=extension/dc_minimal/module/dc_featured.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request) + '&page=' + page,
            dataType: 'json',
            success: function (json) {
                response(json);
            }
        });
    },
    'select': function (item) {
        $('#input-product').val('');

        $('#flash-product-' + item['value']).remove();

        var html  = '<tr id="flash-product-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-minus"></i></button></td>';
        html += '</tr>';

        $('#flash-product tbody').append(html);
    }
});

$('#flash-product').on('click', '.btn-danger', function () {
    $(this).closest('tr').remove();
});
//--></script>
{{ footer }}
