{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
              <div id="error-name" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="banners" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-start">{{ entry_title }}</td>
                  <td class="text-start">{{ entry_image }}</td>
                  <td class="text-start">{{ entry_link }}</td>
                  <td class="text-start">{{ entry_button }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                {% set banner_row = 0 %}
                {% for banner in banners %}
                  <tr id="banner-row-{{ banner_row }}">
                    <td class="text-start">
                      <input type="text" name="banners[{{ banner_row }}][title]" value="{{ banner.title }}" placeholder="{{ entry_title }}" class="form-control"/>
                    </td>
                    <td class="text-start">
                      <div class="card image">
                        <img src="{{ banner.thumb }}" alt="" title="" id="thumb-image-{{ banner_row }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
                        <input type="hidden" name="banners[{{ banner_row }}][image]" value="{{ banner.image }}" id="input-image-{{ banner_row }}"/>
                        <div class="card-body p-2">
                          <button type="button" data-oc-toggle="image" data-oc-target="#input-image-{{ banner_row }}" data-oc-thumb="#thumb-image-{{ banner_row }}" class="btn btn-primary btn-sm w-100 mb-1"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-{{ banner_row }}" data-oc-thumb="#thumb-image-{{ banner_row }}" class="btn btn-warning btn-sm w-100"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                      </div>
                    </td>
                    <td class="text-start">
                      <input type="text" name="banners[{{ banner_row }}][link]" value="{{ banner.link }}" placeholder="{{ entry_link }}" class="form-control"/>
                    </td>
                    <td class="text-start">
                      <input type="text" name="banners[{{ banner_row }}][button]" value="{{ banner.button }}" placeholder="{{ entry_button }}" class="form-control"/>
                    </td>
                    <td class="text-end">
                      <button type="button" onclick="$('#banner-row-{{ banner_row }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  {% set banner_row = banner_row + 1 %}
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4"></td>
                  <td class="text-end"><button type="button" onclick="addBanner();" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-select">
                <option value="1"{% if status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if not status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
var banner_row = {{ banner_row }};

function addBanner() {
    html  = '<tr id="banner-row-' + banner_row + '">';
    html += '  <td class="text-start"><input type="text" name="banners[' + banner_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control"/></td>';
    html += '  <td class="text-start">';
    html += '    <div class="card image">';
    html += '      <img src="{{ placeholder }}" alt="" title="" id="thumb-image-' + banner_row + '" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>';
    html += '      <input type="hidden" name="banners[' + banner_row + '][image]" value="" id="input-image-' + banner_row + '"/>';
    html += '      <div class="card-body p-2">';
    html += '        <button type="button" data-oc-toggle="image" data-oc-target="#input-image-' + banner_row + '" data-oc-thumb="#thumb-image-' + banner_row + '" class="btn btn-primary btn-sm w-100 mb-1"><i class="fa-solid fa-pencil"></i></button>';
    html += '        <button type="button" data-oc-toggle="clear" data-oc-target="#input-image-' + banner_row + '" data-oc-thumb="#thumb-image-' + banner_row + '" class="btn btn-warning btn-sm w-100"><i class="fa-solid fa-trash-can"></i></button>';
    html += '      </div>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td class="text-start"><input type="text" name="banners[' + banner_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control"/></td>';
    html += '  <td class="text-start"><input type="text" name="banners[' + banner_row + '][button]" value="" placeholder="{{ entry_button }}" class="form-control"/></td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#banner-row-' + banner_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#banners tbody').append(html);

    banner_row++;
}
//--></script>
{{ footer }}
