<div class="pnj-nav-header d-lg-none">
    <span>{{ text_menu }}</span>
    <i class="fa fa-times pnj-nav-close"></i>
</div>
<ul class="pnj-menu">
    {% for tab in tabs %}
    <li class="mega-parent" data-tab-id="{{ tab.id }}">
        <a href="{{ tab.href }}">{{ tab.title }}</a>
        <div class="mega-modal">
            <div class="mega-left">
                {% for group in tab.menu_items %}
                <div class="mega-item {% if loop.first %}active{% endif %}" data-target="{{ tab.id }}-group-{{ loop.index0 }}">
                    {% if group.icon %}<i class="{{ group.icon }}"></i> {% endif %}{{ group.title }}
                </div>
                {% endfor %}
            </div>
            <div class="mega-right">
                {% for group in tab.menu_items %}
                <div class="mega-content {% if loop.first %}active{% endif %}" id="{{ tab.id }}-group-{{ loop.index0 }}">
                    <div class="mega-grid grid-cols-{{ group.blocks|length }}">
                        {% for block in group.blocks %}
                        <div class="mega-col">
                            {% if block.title %}<h4>{{ block.title }}</h4>{% endif %}
                            <div class="mega-items-list {% if block.type == 'manufacturer' %}brand-logo-container{% endif %}">
                                {% if block.cols > 1 and block.type != 'manufacturer' %}
                                    {# Support internal multi-column if needed, or just list #}
                                    {% set slice_size = (block.items|length / block.cols)|round(0, 'ceil') %}
                                    <div class="d-flex flex-wrap w-100">
                                        {% for i in 0..(block.cols - 1) %}
                                            <div style="flex: 1; min-width: 120px;">
                                                {% for item in block.items|slice(i * slice_size, slice_size) %}
                                                <a href="{{ item.href }}">
                                                    {% if item.thumb %}<img src="{{ item.thumb }}" alt="{{ item.name }}" class="small-icon"> {% endif %}
                                                    {{ item.name }}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% for item in block.items %}
                                        {% if block.type == 'manufacturer' %}
                                            <a href="{{ item.href }}" class="brand-logo-card" data-bs-toggle="tooltip" title="{{ item.name }}">
                                                {% if item.thumb %}
                                                    <img src="{{ item.thumb }}" alt="{{ item.name }}">
                                                {% else %}
                                                    <span class="small font-weight-bold">{{ item.name }}</span>
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            <a href="{{ item.href }}">
                                                {% if item.thumb %}<img src="{{ item.thumb }}" alt="{{ item.name }}" class="small-icon"> {% endif %}
                                                {{ item.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if search_status %}
<div class="pnj-search">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="{{ text_search_placeholder }}">
</div>
{% endif %}
