{% if services %}
<section class="dc-service-highlights py-3">
  <div class="container">
    <div class="dc-service-row">

      {% for service in services %}
      <div class="dc-service-col">

        <div class="dc-service-card">
          <div class="dc-service-icon">
            <img src="{{ service.thumb }}" alt="{{ service.title }}">
          </div>

          <div class="dc-service-content">
            <div class="dc-service-title">{{ service.title }}</div>
            <div class="dc-service-desc">{{ service.description }}</div>
          </div>
        </div>

        {% if service.tooltip %}
        <div class="dc-service-tooltip">
          <div class="dc-service-tooltip-inner">
            {{ service.tooltip|raw }}
          </div>
        </div>
        {% endif %}

      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endif %}